LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.WinFormsClient/Service References/MatchMaking/LegendsOfKesmaiSurvival.Services.MatchMaking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="LegendsOfKesmaiSurvival.Services.MatchMaking" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="LegendsOfKesmaiSurvival.Services.MatchMaking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="LegendsOfKesmaiSurvival.Services.MatchMaking/Imports">
      <xsd:import namespace="LegendsOfKesmaiSurvival.Services.MatchMaking" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchMakingService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_Leave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_StartNewGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewGame" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_GetActiveGameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveGameList" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_GetActiveGameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveGameListResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchMakingService_JoinedGameCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinedGameCallback" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMatchMakingService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/Join" message="tns:IMatchMakingService_Join_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/JoinResponse" message="tns:IMatchMakingService_Join_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Leave">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/Leave" message="tns:IMatchMakingService_Leave_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/LeaveResponse" message="tns:IMatchMakingService_Leave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartNewGame">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/StartNewGame" message="tns:IMatchMakingService_StartNewGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinGame">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/JoinGame" message="tns:IMatchMakingService_JoinGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetActiveGameList">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/GetActiveGameList" message="tns:IMatchMakingService_GetActiveGameList_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/GetActiveGameListResponse" message="tns:IMatchMakingService_GetActiveGameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinedGameCallback">
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.MatchMaking/IMatchMakingService/JoinedGameCallback" message="tns:IMatchMakingService_JoinedGameCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>