LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.WinFormsClient/Service References/MatchMaking/LegendsOfKesmaiSurvival.Core.GameStateInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ServerInstanceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameplayUri" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="ServerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInstanceInformation" nillable="true" type="tns:ServerInstanceInformation" />
</xs:schema>