LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.WinFormsClient/Service References/Authentication/LegendsOfKesmaiSurvival.Services.Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="LegendsOfKesmaiSurvival.Services.Authentication" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="LegendsOfKesmaiSurvival.Services.Authentication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="LegendsOfKesmaiSurvival.Services.Authentication/Imports">
      <xsd:import namespace="LegendsOfKesmaiSurvival.Services.Authentication" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetServiceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformation" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_GetServiceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationService_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IAuthenticationService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/Login" message="tns:IAuthenticationService_Login_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/LoginResponse" message="tns:IAuthenticationService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetServiceInformation">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/GetServiceInformation" message="tns:IAuthenticationService_GetServiceInformation_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/GetServiceInformationResponse" message="tns:IAuthenticationService_GetServiceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateNewUser">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/CreateNewUser" message="tns:IAuthenticationService_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.Authentication/IAuthenticationService/CreateNewUserResponse" message="tns:IAuthenticationService_CreateNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>