LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.WinFormsClient/Service References/Lobby/LegendsOfKesmaiSurvival.Services.Lobby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="LegendsOfKesmaiSurvival.Services.Lobby" elementFormDefault="qualified" targetNamespace="LegendsOfKesmaiSurvival.Services.Lobby" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="key" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerJoinedCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>