LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.WinFormsClient/Service References/Lobby/LegendsOfKesmaiSurvival.Services.Lobby.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="LegendsOfKesmaiSurvival.Services.Lobby" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="LegendsOfKesmaiSurvival.Services.Lobby" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="LegendsOfKesmaiSurvival.Services.Lobby/Imports">
      <xsd:import namespace="LegendsOfKesmaiSurvival.Services.Lobby" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_Leave_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_PlayerJoinedCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoinedCallback" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILobbyService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Join">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.Lobby/ILobbyService/Join" message="tns:ILobbyService_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Leave">
      <wsdl:input wsaw:Action="LegendsOfKesmaiSurvival.Services.Lobby/ILobbyService/Leave" message="tns:ILobbyService_Leave_InputMessage" />
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.Lobby/ILobbyService/LeaveResponse" message="tns:ILobbyService_Leave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerJoinedCallback">
      <wsdl:output wsaw:Action="LegendsOfKesmaiSurvival.Services.Lobby/ILobbyService/PlayerJoinedCallback" message="tns:ILobbyService_PlayerJoinedCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>