LegendsOfKesmaiSurvival/LegendsOfKesmaiSurvival.Services/Service References/ZombiesClient/LegendsOfKesmaiSurvival.Core.GameStateInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LegendsOfKesmaiSurvival.Core.GameStateInformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameStateUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViewableArea" nillable="true" type="tns:ArrayOfGameTile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameStateUpdate" nillable="true" type="tns:GameStateUpdate" />
  <xs:complexType name="ArrayOfGameTile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameTile" nillable="true" type="tns:GameTile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameTile" nillable="true" type="tns:ArrayOfGameTile" />
  <xs:complexType name="GameTile">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackgroundImageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameTile" nillable="true" type="tns:GameTile" />
</xs:schema>